<nav class="navbar {% if page.name == "index.md" %}index {% endif %}navbar-dark navbar-expand">
  <div class="container d-flex">
    <ul class="navbar-nav menu">
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-bars me-1"></i>
        <span class="init">{% t header.menu %}</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  {% for section in site.sections %}
  {% capture uri %}
  {% unless page.name == "index.md" %}{{ site.baseurl }}/{% endunless %}#{{section.slug}}
  {% endcapture %}
          <li>
            <a class="dropdown-item" aria-current="page" href="{{ uri | strip }}">{% t section.short_title %}</a>
          </li>
  {% endfor %}
        </ul>
      </li>
    </ul>
    <div class="navbar-nav name">
      <a class="nav-link nav-fade text-white" href="{% unless page.name == "index.md" %}{{ site.baseurl }}/{% endunless %}#"><strong>{% if site.prefix %}{{ site.prefix }} {% endif %}{{ site.name }}</strong></a>
    </div>
    <ul class="navbar-nav language justify-content-end">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-globe mx-2"></i>{{ site.lang }}</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        {% if site.lang=="de" %}
          <li><a class="dropdown-item" href="{{ site.baseurl_root }}/">English</a></li>
          <li><span class="dropdown-item">Deutsch<i class="fas fa-check ms-2"></i></span></li>
        {% else %}
          <li><span class="dropdown-item">English<i class="fas fa-check ms-2"></i></span></li>
          <li><a class="dropdown-item" href="{{ site.baseurl_root }}/de/">Deutsch</a></li>
        {% endif %}
        </ul>
      </li>
    </ul>
  </div>
</nav>
