html, body {
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 color: $dark;
}

body {
  min-height: 100vh;
  hyphens: auto;
}

@include media-breakpoint-up(lg) {
  .container {
    max-width: map-get($container-max-widths, lg);
  }
}

main {
  margin-bottom:4rem;
}

section {
  margin-top: -1rem;
}

.section-header {
  border-bottom: thin dotted $text-muted;
  margin-bottom: 1.5rem;
  padding-top: 5rem;
}

.section-header a {
  color: $secondary;
}

.section-header h2 {
  font-size: 1.9rem;
  color: $text-muted;
}

section h3 {
  font-size: 1rem;
  margin-top: 2.3rem;
  margin-bottom: 0.8rem;
  font-weight: 600;
  @include media-breakpoint-up(md) {
    margin: 0;
  }
}


[data-bs-toggle="collapse"] {
    &.collapsed .if-not-collapsed {
         display: none;
    }
    &:not(.collapsed) .if-collapsed {
         display: none;
    }
}

section ul {
  list-style: square;
  padding-left: 1em;
  margin-left: 0;
}

section .left-column { 
  @include media-breakpoint-up(md) {
    flex-basis: $left_column;
    flex-shrink: 0;
    flex-grow: 0;
    padding-right: 1rem;
  }
}

.btn, .btn-sm, .btn-lg {
  border-radius: 0;
}

section button.show-more {
  @include media-breakpoint-up(md) {
    margin-left: $left_column;
  }
}

//////////////
//  footer  //
//////////////

@include media-breakpoint-up(md) {
  footer .icons,
  footer .copyright {
    margin-left: $left_column;
  }
}

footer .icons a {
  font-size: 1.5rem;
  color: $navbar-light-color;
}

footer .icons a:hover {
  color: $navbar-light-hover-color;
}

//////////////
//  Navbar  //
//////////////

.navbar {
  background-color: $primary;
  padding: 0.7rem 0;
}

.navbar .language .nav-link {
  padding-right: 0;
}

.navbar .menu .nav-link {
  padding-left: 0;
}

.navbar .menu {
  flex-basis: $left_column;
}

.navbar .language {
  flex-basis: $left_column;
}

.navbar .name {
  @include media-breakpoint-up(md) { 
    flex-grow: 1;
  }
}

.navbar .name a.nav-link {
  color: $white;
  // text-decoration: underline;
  // text-decoration-color: $navbar-dark-color;
  @include media-breakpoint-up(md) { 
    padding-left: 0;
  }
}


.navbar.index {
  position: absolute;
  z-index: 15;
  background-color: transparent;
  top: 0;
  right: 0;
  left: 0;
}

.navbar.index.fix-behind {
  position: fixed;
  z-index: 8;
  background-color: $primary;
}

.navbar .init {
  display: none;
}

.navbar.index .init {
  display: initial;
}

.navbar.index.fix-behind .init {
  display: none;
}

.navbar.index .nav-fade {
  display: none;
}

.navbar.index.fix-behind .nav-fade {
  display: initial;
}

.dropdown-menu {
  border-radius: none;
}

////////////////
//  Masthead  //
////////////////


.masthead {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 10;
  background-color: $primary;
  color: $white;
}

.masthead img.profile {
  object-fit: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 150px;
  @include media-breakpoint-up(md) {
    width: 75%;
  }
}

.masthead img.brand {
  width: 150px;
  vertical-align: baseline;
  @include media-breakpoint-up(md) {
    width: 75%;
  }
  @include media-breakpoint-up(md) {
    margin-top: -7%;
  }
}

.masthead a {
  color: $white;
  text-decoration: underline;
  text-decoration-color: $navbar-dark-color;
}

.masthead a:hover {
  text-decoration-color: $navbar-dark-hover-color;
}

.masthead .affiliation p {
  margin: 0;
}

.masthead ul.nav-menu {
  list-style: none;
  margin-bottom: 0;
}

.masthead .nav-menu li {
  display: inline;
}

.masthead h1 {
  font-weight: 300;
  font-size: 2.7rem;
  margin: 0;
}

.masthead .position {
  // font-weight: 600;
}

.masthead div.profile-picture,
.masthead div.brand { 
  @include media-breakpoint-up(md) {
    flex-basis: 25%;
    margin-left: $left_column;
  }
}
