@include media-breakpoint-up(lg) {
  .container {
    max-width: map-get($container-max-widths, lg);
  }
}

.masthead {
  margin: 7rem 0 5rem 0;
}

@include media-breakpoint-up(md) {
  .masthead .menu {
    border-right: 1px solid gu_color(sand_gray);
  }
}

section {
  padding-top: 5rem;
  margin-top: -5rem;
  margin-bottom: 1.5rem;
}

.section-header {
  border-bottom: 1px solid gu_color(sand_gray);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

[data-toggle="collapse"] {
    &.collapsed .if-not-collapsed {
         display: none;
    }
    &:not(.collapsed) .if-collapsed {
         display: none;
    }
}

footer .icons a {
  font-size: 1.5rem;
  color: $navbar-light-color;
}

.masthead .icons a {
  font-size: 2rem;
}

footer .icons a:hover {
  color: $navbar-light-hover-color;
}

