.nav-fade {
  display: none;
}

.navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

@include media-breakpoint-up(md) {
  .navbar-title {
    flex-basis: auto;
  }
}

.navbar h1 {
  margin-right: auto;
}

.navbar .nav-menu {
  flex-basis: 100%;
  margin-left: -0.5rem;
  margin-right: auto;
}

@include media-breakpoint-up(md) {
  .navbar .nav-menu {
    margin-left: auto;
    flex-basis: auto;
  }
}

