---
---


html, body {
  font-family: "Source Sans Pro", sans-serif;
}

.masthead h1 {
  color: $dark;
  font-weight: 300;
  font-size: 4em;
}

.masthead .menu a {
  color: $secondary;
  font-size: 1.3em;
}

.section-header a {
  color: $secondary;
}

.section-header h2 {
  font-weight: 600;
  color: $dark;
}

section h3 {
  font-size: 1.25rem;
  padding-right: 1rem;
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

.navbar-light h1 {
  margin: 0px;
  font-size: 1.5em;
  color: $primary;
}

.fa-lg {
  vertical-align: middle;
}
