$gu_colors: (
  goethe_blue: #00618F, 
  light_gray: #f8f6f5, 
  sand_gray: #e4e3dd, 
  dark_gray: #4d4b46, 
  purple: #860047, 
  emo_red: #b3062c, 
  mustard_yellow: #e3ba0f, 
  green: #737c45, 
  magenta: #ad3b76, 
  orange: #c96215, 
  sun_yellow: #f7d926, 
  light_green: #a5ab52, 
  light_blue: #48a9da, 
);

@function gu_color($color) {
    @return map-get($gu_colors, $color);
}

$primary: gu_color(goethe_blue);
$secondary: gu_color(emo_red);
$light: gu_color(light_gray);
$dark: gu_color(dark_gray);
