<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://www.uni-frankfurt.de/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl_root }}">
    <link rel="stylesheet" href="{{ "/assets/css/academicons.min.css" | prepend: site.baseurl_root }}">
    <title>{% if site.prefix %}{{ site.prefix }} {% endif %}{{ site.name }}{% if page.title %} | {% t page.title %}{% endif %}</title>
  </head>
  {{ content }}
</html>
