<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <title>{{ site.title }}{% if page.title %} | {% t page.title %}{% endif %}</title>
  </head>
  <body class="h-100 d-flex flex-column">
    {% include navbar.md %}
    <div class="container-sm">
    {{ content }}
    </div>
    {% include footer.md %}
    <script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
  </body>
</html>
